.sort-filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 20px;
}

.container {
    padding: 20px;
}

.container h2 {
    margin-top: 0;
}

.container label {
    display: block;
    margin-bottom: 8px;
}

.container input,
.container textarea {
    width: 100px;
    padding: 8px;
    margin-bottom: 16px;
}

.container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}

.items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.item {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.filter-condition,
.search {
    margin-bottom: 20px;
}

.highlight {
    background-color: rgb(0, 166, 255);
}